.container {
  background-color: white;
  text-align: left;
  border-radius: 30px;
  padding: 10px 30px 20px 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}


h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
}