.projects-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 20vh;
  margin-left: 50px;
  margin-right: 50px;
  width: calc(100% - 100px);
  height: 100%;
}

.projects-container {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  columns: 3;
  color: black;
}

.tag-select-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  width: 100%;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  color: black;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tag-select-item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0 10px;
}

.checkbox-tag {
  margin: auto 0;
}

@media (max-width: 1100px) {
  .projects-container {
    columns: 2;
  }
}

@media (max-width: 900px) {
  .projects-container {
    columns: 2;
  }

  .projects-content {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
}

@media (max-width: 700px) {
  .projects-container {
    columns: 1;
  }

  .projects-content {
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
  }
  
}