@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

:root {

  --primary-color: #a8caff;
  --highlight: #f3f38d;
  --darker-highlight: #e2e277;
  background-color: var(--primary-color);
  font-family: 'Noto Sans Mono', monospace;

  --raisin_black: #262730;
  --indigo_dye: #033D63;
  --periwinkle: #C3CCEA;
  --light_orange: #F5CBA3;
  --isabelline: #EFE9E7;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
}

.App {
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.header {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 15vh;
  overflow: hidden;
  z-index: 10;
  background-image: url('./assets/clouds.png');
  background-repeat: repeat-x;
  background-size: contain;
}

.snow-container {
  position: absolute;
  z-index: -10;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.header-links {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  right: 0;
  margin: 10px;
  margin-right: 40px;
  margin-top: 8px;
}

.header nav {
  z-index: 11;
}

.button-link-nav {
  z-index: 12;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

.header-link {
  margin-left: 70px;
}

.header-link-text {
  font-size: 1.3em;
  font-weight: 700;
  color: var(--primary-color);
}

a, button {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover, button:hover {
  color: var(--primary-color);
}

.link {
  color: var(--highlight);
}
.link:hover{
  color: var(--darker-highlight);
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 320px;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2rem;
  line-height: 1.1;
}

h2 {
  font-size: 1.2rem;
  line-height: 1.1;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.social-link {
  height: 40px;
  width: 40px;
  padding: 10px;
}

.title {
  text-align: left;
  color: white;
  padding: 180px;
  text-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.5);
  width: 50vw;
}

.subtitle {
  color: lightgrey;
  font-size: 0.8em;
}