@import "variables.css";

:root {
  background-color: #a8caff;
}

.App {
  text-align: center;
  background-color: #a8caff;
  color:black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tag-select-container {
  float: left;
  width: 30%; 
  text-align: left;
}

.projects-container {
  float: left;
  width: 70%; 
}

.tag-select-container ul {
  padding-left: 0;
  list-style-type: none;
}